
.body-index{
	background: #efefef;
}

nav {
    padding: 0;
    background-color: #fff;
    height: var(--heigth-nav);
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-nav {
    width: 95%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caixa-nav .logo {
    width: 5rem;
    height: 5rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.caixa-nav .link-site {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    height: calc(100vh - var(--heigth-nav) );
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    /*remove*/
    background-color: aqua;
}

.container .caixa-banner {
    width: 60%;
    height: 100%;

    /*remove*/
    background-color:blueviolet;
}

.container .form-entrar {
    width: 40%;
    height: 100%;
    
    /*remove*/
    background-color: blue;
}
