
.body-index{
	background: #efefef;
}

.container {
    width: 100%;
    height: calc(100vh - var(--heigth-nav) );
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    /*remove*/
    background-color: aqua;
}

.container .caixa-banner {
    width: 60%;
    height: 100%;

    /*remove*/
    background-color:blueviolet;
}

.container .form-entrar {
    width: 40%;
    height: 100%;
    
    /*remove*/
    background-color: blue;
}
