<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Gerencidor de Estoque</title>		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>
        <!-- sweetalert - link cdn -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- css -->
        <link href="css/global.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
	</head>
	<body class="body-index">
		<nav class="navbar navbar-static-top">
            <div class="caixa-nav">
                <img src="/images/logo-lm.png" alt="Logo do Sistema" class="logo">
                <a href="https://google.com" target="_blank" rel="noopener noreferrer" class="link-site"> Ir para o site</a>
            </div>
		</nav>
        <div class="container">
            <div class="caixa-banner">
                <h1>Teste</h1>
            </div>
            <form class="form-inline form-entrar" method="post">
                <div class="form-group">				
                    <input type="text" name="usuario" id="usuario" placeholder="Usuário" class="form-control" autocomplete="off" />
                    <input type="email" name="email" id="email" placeholder="E-mail" class="form-control"autocomplete="off" />
                    <input type="password" name="senha" id="senha" placeholder="Senha" class="form-control"autocomplete="off" />

                    <button type="button" class="btn btn-success" id="btn-entrar">Entrar</button>
                </div>
            </form>
        </div>		
        <script>
            $(document).ready(function() {
                $('#btn-entrar').click(function(event) {
                    event.preventDefault();
                    console.log('botão entrar clicado...');
                    
                    var user = $('#usuario').val();
                    var email = $('#email').val();
                    var pass = $('#senha').val();

                    !user && Swal.fire({
                                icon: 'error',
                                title: 'Ops...',
                                text: 'User is required',
                                footer: '<a href="#">Why do I have this issue?</a>'
                            });
                    
                    !email && Swal.fire({
                        icon: 'error',
                                title: 'Ops...',
                                text: 'Email is required',
                                footer: '<a href="#">Why do I have this issue?</a>'
                            });

                    !pass && Swal.fire({
                        icon: 'error',
                                title: 'Ops...',
                                text: 'Pass is required',
                                footer: '<a href="#">Why do I have this issue?</a>'
                            });

                    function request() {
                        fetch( 'http://localhost:8080/login', {
                            headers: {
                                contentType: 'application/json',
                            },
                            type: 'POST',
                            body: JSON.stringify({user, email, pass}),
                        })
                        .then(resp => {
                            if(!resp.ok) {
                                throw new Error('network response was not');
                            };
                            return resp.json();
                        }).then(data => {
                            window.location.href = "http://localhost:8080/home"
                        }).catch(error => 
                            console.log(error)
                        );
                    }

                    if(!user && !pass) {
                        return Swal.fire({
                            icon: 'error',
                            title: 'Ops...',
                            text: 'User and Pass is required',
                            footer: '<a href="#">Why do I have this issue?</a>'
                        });
                    } else {
                        request();
                    };
                });
            });
        </script>
	</body>
</html>