<nav class="navbar navbar-static-top">
    <div class="caixa-nav">
        <img src="/images/logo-lm.png" alt="Logo do Sistema" class="logo">
        <a href="https://google.com" target="_blank" rel="noopener noreferrer" class="link-site"> Ir para o site</a>
    </div>
</nav>