.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > .container-content {
    width: 95%;
    height: 95%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container > .container-content > .form-entrar {
    width: 50%;
    height: 100%;
    
    /*remove*/
    background-color: red;
}

.container > .container-content > .container-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > .container-content > .container-image > .image-tag {
    width: 100%;
    height: 100%;
    display: flex;
}


.container > .container-content > .container-image > .image-tag > img {
    width: 100%;
    height: 100%;
    rotate: 270deg;
    object-fit: contain;
}
